* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}

header {
  position: absolute;
  top: 2%;
  left: 50%;
  transform: translateX(-50%);
}

.main {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
  display: flex;
  flex-direction: column;
  text-align: center;
}

.main button {
  margin: 10px auto;
  padding: 20px;
  font-size: x-large;
  border: none;
  border-radius: 10px;
  background-color: coral;
  width: 255px;
}

.main button:hover {
  background-color: black;
  color: coral;
}

.main input {
  margin: 10px auto;
  font-size: x-large;
  text-align: center;
  width: 255px;
}

input[type="checkbox"] {
  transform: scale(2);
}

.main label {
  font-size: x-large;
}

footer {
  position: absolute;
  bottom: 2%;
  left: 50%;
  transform: translateX(-50%);
}

footer ul {
  list-style-type: none;
  text-align: center;
}

.main ul {
  list-style-type: none;
}
